@Model Optimistic_locking_18_09_2024.Models.Product

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Id</p>
    <p>@Model.Name</p>
    <p>@Model.Price</p>
</div>
